<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Argument" version="1.0.3" targetFramework="net40" />
  <package id="AshMind.Extensions" version="1.6.0" targetFramework="net40" />
  <package id="AshMind.IO.Abstractions" version="0.9.1-pre" targetFramework="net40" />
  <package id="IconLib.Unofficial" version="0.73.0" targetFramework="net40" />
  <package id="JetBrains.Annotations" version="8.0.4.0" targetFramework="net40" />
  <package id="WindowsAPICodePack-Core" version="1.1.1" targetFramework="net40" />
  <package id="WindowsAPICodePack-Shell" version="1.1.1" targetFramework="net40" />
</packages>